div#main_container{
	margin: 0 auto;
    width: 60%;
    border: 1px solid transparent;
    border-radius: 1%;
    padding: 1%;
    background-color: rgba(0,0,0,.1);
}
div#main_container>h1{
	text-align: center;
}
div#comments_container{
	margin: 0 auto;
    width: 60%;
    border: 1px solid transparent;
    border-radius: 1%;
    padding: 1%;
    background-color: rgba(0,0,0,.2);
}
.comment{
    border: 1px solid transparent;
    border-radius: 1%;
    padding: 1%;
    background-color: rgba(0,0,0,.2);
}